# Project exclude paths
/.gradle/
/Problems/Adding values/out/
/Problems/Adding values/out/production/classes/
/Problems/Advanced calculator/out/
/Problems/Advanced calculator/out/production/classes/
/Problems/Alphabetical order/out/
/Problems/Alphabetical order/out/production/classes/
/Problems/Application as a class/out/
/Problems/Application as a class/out/production/classes/
/Problems/Area of a circle/out/
/Problems/Area of a circle/out/production/classes/
/Problems/Basic calculator/out/
/Problems/Basic calculator/out/production/classes/
/Problems/Convert a date/out/
/Problems/Convert a date/out/production/classes/
/Problems/Convert to bytes/out/
/Problems/Convert to bytes/out/production/classes/
/Problems/Count how many times a number occurs/out/
/Problems/Count how many times a number occurs/out/production/classes/
/Problems/Count words/out/
/Problems/Count words/out/production/classes/
/Problems/Cutting out the middle of a string/out/
/Problems/Cutting out the middle of a string/out/production/classes/
/Problems/Distance/out/
/Problems/Distance/out/production/classes/
/Problems/Find X/out/
/Problems/Find X/out/production/classes/
/Problems/Fixing the main method/out/
/Problems/Fixing the main method/out/production/classes/
/Problems/Generating passwords/out/
/Problems/Generating passwords/out/production/classes/
/Problems/Get first and last elements/out/
/Problems/Get first and last elements/out/production/classes/
/Problems/Initializing an array of characters/out/
/Problems/Initializing an array of characters/out/production/classes/
/Problems/Print  Hello, Java!/out/
/Problems/Print  Hello, Java!/out/production/classes/
/Problems/Print  We are robots!/out/
/Problems/Print  We are robots!/out/production/classes/
/Problems/Reverse input text/out/
/Problems/Reverse input text/out/production/classes/
/Problems/The index of an argument/out/
/Problems/The index of an argument/out/production/classes/
/Problems/The longest ascending sequence/out/
/Problems/The longest ascending sequence/out/production/classes/
/Problems/Two numbers never occur to each other/out/
/Problems/Two numbers never occur to each other/out/production/classes/
/Readability Score/task/build/
/Readability Score/task/out/
/Readability Score/task/out/production/classes/
/Readability Score/task/out/test/classes/